* {
    font-family: "work Sans";
}

body {
    margin: 0;
}
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 35px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;

  }
 
  
  .accordion:after {
    content: url(assets/images/icon-plus.svg); 
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    
  }
  
  .active:after {
    content: url(assets/images/icon-minus.svg);
  }
  
  .panel {
    padding: 0 35px;
    background-color: white;
    max-height: 0;
    max-width: 565px;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    margin-top: -20px;
    line-height: 20px;
  }

  .faqs {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    margin-top: -150px;

  }

  #faq-header {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-bottom: -40px;
  }

  h1 {
    margin-left: 25px;
    font-size: 3.5em;
  }

  p {
    color: hsl(292, 16%, 49%);
    margin-top: 0;
  }

  .background {
    background-color: hsl(275, 100%, 97%);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;
  }

  :root {
    --bg-desktop: none;
    --bg-mobile: none;
  }
  .bg-image {
    min-height: 325px;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .bg-image {
      background-image: var(--bg-mobile);
    }
  }
  @media screen and (min-width: 769px) {
    .bg-image {
      background-image: var(--bg-desktop);
    }
  }

  #black-wrapper {
    background-color: black;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }